.config-manager {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  &__drop {
    width: 240px;
    height: 32px;
    border: 1px dashed #567891;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 4px;
    color: #567891;
    user-select: none;
  }
}
